{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% trans 'Delete user' %} | {% trans 'Task Manager' %}{% endblock %}

{% block content %}
    <h1 class="my-4">{% trans 'Delete user' %}</h1>

    <form method="post">
        <p>{% trans 'Are you sure you want to delete' %} {{ user.first_name }} {{ user.last_name }}?</p>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% translate 'Yes, delete' %}</button>
    </form>
{% endblock %}